@import '../component.scss';

.container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 60px;
  transition: .3s;
  border-radius: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

  &:disabled {
    background: #edeeef;
    color: #b8bed8;
    cursor: not-allowed;
  }
}

.primary:not(:disabled) {
  background: $primary-color;
  color: #fff;

  &:hover {
    background: #0081bc;
  }

  &:active {
    background: #015d87;
  }
}