$primary-color: #0096da;
$font-color: #000;
$secondary-color: #000;

$mainBg: #f6f6f6;
$danger-color: #ff1e38;

$bp-desktop-hd: 1800px;
$bp-desktop: 1200px;
$bp-tablets: 992px;
$bp-ls-tablets: 768px;
$bp-phones: 540px;

// border
$border-radius: 6px;
$border-color: #dadef0;